{% extends "layout/basic.html" %}
{% load thumbnail %}
{% load bootstrap5 %}
{% load static %}

{% block title %} {{ rubric }} {% endblock %}

{% block content %}


{% if bbs %}
<ul class="list-unstyled container-fluid ">
    {% for bb in bbs %}
    <li>
        <div  class="row border-rad color">
             {% url 'main:detail' rubric_pk=bb.rubric.pk pk=bb.pk as url %}
            <div class="col-auto p-3">
                <a href = "{{ url }}" class="col">
                {% if bb.image %}
                <img class="mr-3 border-rad" src="{% thumbnail bb.image 'default' %}">
                {% else %}
                <img class="mr-3 border-rad" src="{% static 'main/empty.jpeg' %}">
                {% endif %}
                </a>
            </div>
            <div class="col p-3">
                <h3><a href="{{ url }}">{{ bb.title }}</a></h3>
                <div>{{ bb.content }}</div>
                <p class="text-end font-weight-bold">{{ bb.price }}</p>
                <p class="text-end font-italic">{{ bb.created_at }}</p>
            </div>
        </div>
    </li>
    <br>
    {% endfor %}
</ul>

{% endif %}

{% endblock %}


